.sidebar-portal {
    display: flex;
    flex-direction: column;
    /* transition: width 0.3s ease; */
}

.content-wrapper-sidebar{
    background-color: rgba(248, 249, 250, 1);
    border-right-width: 1px;
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    height: 100vh;
    overflow-x: hidden;
}

a,
.sidebar-link{
    color: inherit;
    text-decoration: inherit;
}

.logo{
    object-fit: contain;
    width: 80%;
    height: 5rem;
    margin-left: 0.5rem;
    max-width: 100%;
    display: block;
    transition: width 0.3s ease; 
}

.options-sidebar-list{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    margin-top: 3rem;
    transition: opacity 0.3s ease;
}

.sidebar-link{
    padding: 0.6rem 1rem;
    border-radius: .5rem;
    border-radius: .5rem;
    align-items: center;
    width: 100%;
    display: flex;
    gap: 1em;
}

.sidebar-link.active {
    background-color: rgb(242, 250, 248); 
    color: rgb(102 181 163);
}

.sidebar-link.active .sidebar-text{
    color: rgb(102 181 163);
}

.sidebar-link:hover,
.sidebar-link:hover .sidebar-text {
    background-color: rgb(242, 250, 248); 
    color: rgb(102 181 163);
}

.icon{
    color: rgb(102 181 163);
    font-size: 1.25rem;
    line-height: 1.75rem;
    display: block;
}

.sidebar-text{
    color: black;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    margin: 0;
}

@media(max-width: 1250px){
    .sidebar-portal.closed {
        width: 4rem; 
    }
    .sidebar-portal.closed .content-wrapper-sidebar {
        overflow-x: hidden;
    }
    
    .sidebar-portal.closed .sidebar-text {
        opacity: 0;
        pointer-events: none;
    }
    
    .sidebar-portal.closed .image-container{
        display: flex;
    }
    .sidebar-portal.closed .logo-closed {
        margin: 0; 
        position: relative;
        right: 1.2rem;
        max-width: 4rem; 
        height: 4rem; 
    }
    .sidebar-portal.closed .sidebar-link{
        background: transparent;
    }
    .sidebar-portal.closed .icon{
        position: relative;
        border: 1px solid transparent;
        border-radius: 12px;
        padding: 5px;
        align-items: center;
        right: 0.9rem;        
    }
    .sidebar-portal.closed .icon:hover{
        background-color: rgb(242, 250, 248);        
    }
    .sidebar-portal.closed .sidebar-link.active .icon{
        background-color: rgb(242, 250, 248); 
        color: rgb(102 181 163);
    }
}
