.Book_appointment_Patient_Page{
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #f6f6f6;
}

.Book_appointment_Patient{
    width: 100%;
    background-color: white;
    overflow-y: auto;
    align-self: center;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 40px 100px 40px 100px;
}

.Book_appointment_Patient-container{
    padding: 15px 10px 10px 10px;
    max-width: 1000px;
}

@media (max-width: 530px) {
    .Book_appointment_Patient {
        padding: 40px 30px 40px 30px;
    }
}


