.PasswordCardConatainer{
    opacity: 1;
    transform: translateZ(0);
    transition-delay: .1s;
    transition-duration: 1s;
    transition-timing-function: ease;
    padding: 1.5rem;
    background: white;
}