.sidebar-portal{
    border-right: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper-sidebar{
    background-color: white;
    border-right-width: 1px;
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    height: 100vh;
    padding: 24px 24px;
}

a,
.sidebar-link{
    color: inherit;
    text-decoration: inherit;
}

.logo{
    display: flex;
    margin-top: 19px;
    font-size: 10px;
    height: 100px;
    text-align: center;
    justify-content: center;
}

.options-sidebar-list{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    margin-top: 3rem;
    margin-left: 5px;
}

.sidebar-link{
    padding: 0.6rem 1rem;
    border-radius: .5rem;
    border-radius: .5rem;
    align-items: center;
    width: 240px;
    height: 50px;
    display: flex;
    gap: 1em;
}

.sidebar-link.active {
    background-color: #EBFFF5; 
    border-radius: 15px;
}

.sidebar-text.active{
    color: #034561;
}

.icon{
    color: #034561;
    font-size: 1.25rem;
    line-height: 1.75rem;
    display: block;
}

.sidebar-text{
    font-weight: 500;
    line-height: 1.25rem;
    margin: 0;
}

.profile-pic-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.Profile_picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.options-sidebar-list{
    width: 223px;
}
@media (max-width: 900px) {
    .sidebar-text,
    .Patient_name{
        display: none;
    }
    .sidebar-link{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .sidebar-link.active {
        width: 50px;
    }
    .sidebar-inner-container{
        width: 53px;
    }
    .logo{
        margin-top: 19px;
        font-size: 10px;
        height: 60px;
        width: 100px;
    }
    .Profile_picture{
        margin-top: 10px;
        height: 50px;
    }
    .content-wrapper-sidebar{
        padding-left: 5px;
        padding-right: 0;
    }
}