.admin-dashboard {
  background-color: #f6f6f6;
  position: relative;
  height: 100vh;
  margin-left: 300px;
}

.overview-cards1 {
  /*each two cards are in a row*/
  display: flex;
  justify-content: center;
  gap: 20px;
}

.overview-cards2 {
  /*each two cards are in a row*/
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.page-header {
  height: 75px;
  margin-left: 250px;
  background: #fff;
}

.new {
  padding-top: 30px;
  padding-bottom: 60px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.new-appointments {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#requests {
  text-align: center;
}

.view {
  display: flex;
  gap: 1.5em;
  justify-content: center;
  margin-top: 20px;
}

#view-requests {
  background-color: #d6e5ff;
  border: 1px solid #0661ff;
  font-size: 0.9em;
  color: #0661ff;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
}
