.appointment_admin {
  min-height: 100vh;
  background-color: #f6f6f6;
}

.Book_appointment_Patient_Page {
  /* margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px; */
  min-height: 100vh;
  /* padding: 20px; */
  border-radius: 10px;
  /* background-color: #ffffff; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .Book_appointment_Patient_Page {
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
