.Medical_History_Container{
    width: 720px;
    background: white;
    height: 591px;
    border-radius: 15px;
    padding: 23px;
}

.Medical_History_inner_Container{
    height: 546px;
    width: 675px;
}

.Medical_History_title{
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 35px;
}

.Medical_History_Table{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.Medical_History_Card{
    width: 660px;
    background: lightblue;
    border-radius: 15px;
}

.Medical_History_Card_Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.Medical_History_Header{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 23px;
}

.Medical_History_Body{
    margin-left: 15px;
    margin-bottom: 15px;
}
