.opened {
  position: fixed;
  left: 0;
  top: 60px;
  background-color: #fff;
  width: 0px;
  height: calc(100vh - 60px);
  transition: all 0.5s ease-in;
  overflow: hidden;
}
.opened.active {
  width: 100%;
}
